{% extends "base.html" %}
{% load static %}

{% block title %}
Ciclo Menstrual
{% endblock %}

{% block content %}

<h1>Ciclo Menstrual</h1>

{% if active_cycle %}
<p>Fase actual: {{ current_phase }}</p>
<p>Día de la fase: {{ phase_day }}</p>
<p>Días restantes: {{ days_remaining }}</p>
{% else %}
<p>No tienes un ciclo activo.</p>
{% endif %}

<form id="daily-log-form" method="post" action="{% url 'cycles:log-day' %}">
    {% csrf_token %}
    {{ log_form.as_p }}

    <button type="submit">
        Guardar registro
    </button>
</form>

<form method="post" action="{% url 'cycles:cycle-create' %}">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit">
        Registrar ciclo
    </button>
</form>

{% endblock %}

{% block js %}
<script src="{% static 'js/cycle.js' %}"></script>
{% endblock %}