DJANGO_SECRET_KEY=tu_secret_key
DEBUG=True
DJANGO_LOGLEVEL=info
DJANGO_ALLOWED_HOSTS=localhost

DATABASE_ENGINE=postgresql_psycopg2
DATABASE_NAME=mi_db
DATABASE_USERNAME=postre
DATABASE_PASSWORD=postre
# este es el nombre del contenedor, no de la bbdd
DATABASE_HOST=db 
DATABASE_PORT=5432